.overlay {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all .5s ease-in-out;
}

.popup .close {
    position: absolute;
    top: 15px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #269dd1;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .popup {
        width: 80%;
    }
    
    .popup-carousel-arrow {
        display: none !important;;
    }
}

.content {

    margin-top: 15px;
}

.popup-carousel-arrow {
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: rgba(0, 0, 0, .3);
    top: 0;
    display: flex;
    align-items: center;
}

.popup-carousel-arrow:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .6);
}

.popup-carousel-arrow-left:hover .arrow,
.popup-carousel-arrow-right:hover .arrow{
    color: rgba(50, 50, 50, .3);
}

.popup-carousel-arrow-left {
    left: 0;
}

.popup-carousel-arrow-right {
    right: 0;
}

.popup-carousel-arrow .arrow {
    color: rgba(0, 0, 0, .4);
    font-size: 30vw;
    margin-left: 20%;
}

.popup-carousel-arrow-right .arrow {
    margin-left: 30% !important;
}