table, th, td {
    border: 1px solid #999;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table thead {
    background-color: #269dd1;
    color: #EEE;
}

th {
    padding: 5px 0px;
}

td {
    padding: 5px;
}

tbody tr:nth-child(2n) {
    background-color: white;
}

tbody tr:nth-child(2n+1) {
    background-color: #DDD;
}

.container {
    margin-left: 16%;
}

tbody tr:hover {
    cursor: pointer;
    background-color: #addcf0 !important;
}

.description {
    display: none;
}